<web-app>
    <display-name>
        Tag personalizzati
    </display-name>   
    <description>
        Si tratta di una applcazione dove facciamo esempi di Servlet
    </description>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/pattamelo/loggamelo.jsp</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>DIGEST</auth-method>
        <realm-name>Test per l'autenticazione dichiarativa BASIC</realm-name>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>User Basic Authentication</web-resource-name>
            <url-pattern>/pattamelo/loggamelo.jsp</url-pattern>
            <url-pattern>/security/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>dichiarativo</role-name>
        </auth-constraint>
    </security-constraint>

    


    
</web-app>